<% provide(:title, @user.name) %>

<div class ="row-fluid">
	<aside class="span2">
		<section>
			<%= render 'shared/user_info', object: @user %>
		</section>
		<section>
		</section>
	</aside>
	<div class="span10">
	</div>
</div>
