<div class="row-fluid">
	<aside class="span2">
	<section>
	</section>
	<section>
		<h3>Alert Feed</h3>
		<span>
			<%= pluralize(current_user.feed.count, "alert") %>
		</span>
		<%= render 'shared/feed' %>
	</section>
	</aside>
	<div class="span10">
		<section>
			<%= render 'shared/stats' %>
		</section>
		<h3>Information</h3>

	</div>
</div>