<div class="row-fluid">
	<aside class="span2">
	<section>
	</section>
	<section>
	</section>
	</aside>
	<div class="span10">
		<section>
			<%= render 'shared/stats' %>
		</section>
		<h3>Information</h3>

	</div>
</div>