<% provide(:title, 'Buildings') %>
<%- model_class = Building -%>
<h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>

<%= will_paginate %>

<ul class="buildings">
	<%= render @buildings %>
</ul>

<%= will_paginate %>