<% provide(:title, @title) %>
<div class ="row-fluid">
	<aside class="span2">
		<section>
			<%= render 'building_info', object: @building %>
		</section>
		<section>
			<%= render 'shared/building_stats' %>
			<%= render 'shared/user_building_icon_list' %>
		</section>
	</aside>
	<%= render 'shared/user_building_detailed_lists' %>
</div>