<% provide(:title, @building.name) %>

<div class ="row-fluid">
	<aside class="span2">
		<section>
			<%= render 'building_info', object: @building %>
		</section>
	</aside>
	<div class="span10">
		<div class="boxlabel-rt span4">
			<%= render 'shared/feed' %>
		</div>
		<div class="boxlabel-topconsume span4">
			Active alerts

		</div> 
		<div class="boxlabel-topproduce span4">
			Active alerts

		</div> 
 
	</div>
</div>
