<% provide(:title, @building.name) %>

<div class ="row-fluid">
	<aside class="span2">
		<section>
			<%= render 'building_info', object: @building %>
		</section>
		<section>
			<%= link_to 'Edit', edit_building_path(@building), class: "btn" if (signed_in? && @building.managers.include?(current_user)) %> 
		</section>
		<section>
			<%= render 'follow_form' if signed_in? %>
		</section>

	</aside>
	<div class="span10">
		<div class="boxlabel-rt span4">
			<%= render 'shared/feed' %>
		</div>
		<div class="boxlabel-topconsume span4">
			Active alerts

		</div> 
		<div class="boxlabel-topproduce span4">
			Active alerts

		</div> 
 
	</div>
</div>
