<% provide(:title, @building.name) %>

<div class ="row-fluid">
	<aside class="span2">
		<section>
			<%= render 'building_info', object: @building %>
		</section>
	</aside>
	<div class="span10">

	</div>
</div>
