@import "bootstrap";
@import "bootstrap-responsive";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;
$gray80: #393939;
$gray92: #131313;
$gray97: #080808;
$gray15: #d8d8d8;
$gray5: #f2f2f2;
$blueinfo: #3a87ad;
//$navbarbluedark: #1f3c49;
//$navbarbluelite: #396072;
$navbarbluedark: #242d38;
$navbarbluelite: #334050;

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

/* universal */

html {
	overflow-y: scroll;
}

body {
	padding-top: 60px;
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

.center {
	text-align:center;
}

.center h1 {
	margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  img {
    width: 84%;
  }
  &:hover {
      color: white;
      text-decoration: none;
  }
}

/* footer */

footer {
  #logo {
    float: right;
    margin-right: 0px;
    padding: 3px 0px 0px 0px;
    img {
      width: 135px;
    }
  }
  .thumbnail {
    border: 0px solid #000;
    padding: 0px;
  }
  .gravatar {
    margin-right: 4px;
  }
  .navbar {
    margin-bottom:0;
    .divider-vertical {
      height: 34px;
      width: 1px;
      margin: 0 9px;
      overflow: hidden;
      background-color: rgba(0,0,0,.2);
      border-right: 1px solid $black;
  }
  }
  .navbar-fixed-bottom {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    .brand {
      padding-right: 0;
      padding-left: 0;
      margin-left: 0px;
      float: right;
      font-weight: bold;
      color: black;
    }
    .caret {
      margin-top: 8px;
    }
  }
  .navbar-inner {
    min-height: 20px;
    padding-left: 0px;
    padding-right: 0px;
    background-color: rgba(0,0,0,.7);
    background-image: none;
    background-repeat: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,.25), inset 0 -1px 0 rgba(0,0,0,.1);
    -moz-box-shadow: 0px 1px 3px rgba(0,0,0,.25), inset 0 -1px 0 rgba(0,0,0,.1);
    box-shadow: 0px 1px 3px rgba(0,0,0,.25), inset 0 -1px 0 rgba(0,0,0,.3);
    .nav > li > a {
      padding: 8px 0px 4px 8px;
      font-size: 12px;
      line-height: 18px;
      color: $gray15;
      text-decoration: none;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
      &:hover {
        background-color: transparent;
        color: white;
        text-decoration: none;
      }
    }
  }
}
// footer {
//   margin-top: 45px;
//   padding-top: 5px;
//   border-top: 1px solid $grayMediumLight;
//   color: $grayLight;
//   a {
//     color: $gray;
//     &:hover {
//       color: $grayDarker;   
//     }
//   }
//   small {
//     float: left;
//   }
//   ul {
//     float: right;
//     list-style: none;
//     li {
//       float: left;
//       margin-left: 10px;
//     }
//   }
// }

/* sidebar */

aside {
  section {
      padding: 10px 0;
      border-top: 1px solid $grayLighter;
      &:first-child {
        border: 0;
        padding-top: 0;
      }
      span {
        display: block;
        margin-bottom: 3px;
        line-height: 1;
      }
      h1 {
        font-size: 1.6em;
        text-align: left;
        letter-spacing: -1px;
        margin-bottom: 3px;
      }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}


.stats {
  overflow: auto;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $grayLighter;
    color: gray;
    &:first-child{
      padding-left: 0px;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: $blue;
    } 
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  height: auto;
  margin-bottom: 15px;
  @include box-sizing;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
    @extend .control-group;
    @extend .error;
}

/* users index */
.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

/* microalerts */

.microalerts {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}
.content {
  display: block;
}
.timestamp {
  font-size:12px;
  color: $grayLight;
}
.gravatar {
  float: left;
  margin-right:10px;
}
aside {
  textarea {
    height:100px;
    margin-bottom: 5px;
  }
}

/* miniCounter js css */
.counter{
    right: 20px;
    top: 167px;
    font-size: 13px;
  span {
    display: inline;
  }
  .row {
    top: 45px;
    .error {
      font-color: red;
    }
  }
}

input.error, textarea.error {
    color: #6F6F6F;
    border-color: #D95D5B;
    background-color: #f8e6e6;
}
.error {
    color: red;
}

/* signin page unique background */
#signin-page {
	background-image: image-url('signin_bg.jpg');
	background-attachment: fixed;
  	background-repeat: no-repeat;
  	background-size: cover;
  	-moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    .hero-unit {
  		padding: 60px;
  		margin-bottom: 0px;
    	background: rgba(0,0,0,0.5);
	    // opacity:0.5;
	    // filter:alpha(opacity=50); /* for ie8 */
	    -webkit-border-radius: 6px;
	    -moz-border-radius: 6px;
	    border-radius: 6px;
	    z-index:0;
		// #foreground {
		// 	position: relative;
		// 	z-index:2;		
		// }	
	}
	.separator {
		height: 0px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		// border-top: 1px solid $gray92;
		// border-bottom: 1px solid $gray80;
		position: relative; 
		margin-top:15px;
		margin-bottom:12px;
		.or-separator {
			position: relative;
			padding: 0px 20%;
			color: $grayLighter;
			margin-bottom: 4px;
			font-size: 10px;
			text-shadow: 0px 1px 0px black;
			text-transform: uppercase;
			top: -6px;
		}
	}
	#verdigris-signin {
		table {
			margin-top:20px;
			width: 28%;
			margin-left:auto;
			margin-right:auto;
			tr {
				vertical-align: center;
				td {
					text-align: left;
					&:first-child {
						text-align:right;
					}
				}
			}
		}
	}
	.footer-links {
		overflow: auto;
		padding-top:5px;
		padding-bottom:5px;
		font-size:12px;
		color: $grayLight;
  		a {
    		padding: 0 10px;
    		border-left: 1px solid $grayDarker;
    		text-shadow: 0px 1px 0px black;
			color: $grayLighter;
    		&:first-child{
      			padding-left: 0px;
      			border: 0;
    		}
	    	&:hover {
		      text-decoration: none;
		      color: $blueinfo;
		    } 
		}
		strong {
		    display: block;
		}
		#sign-up {
			background: rgba(0,10,0,0.5);
	    // opacity:0.5;
	    // filter:alpha(opacity=50); /* for ie8 */
	    	-webkit-border-radius: 3px;
	    	-moz-border-radius: 3px;
	    	border-radius: 3px;
	    	padding: 4px 4px 4px 4px;
	    	a {
	    		padding: 0px 1px 0px 5px;
	    	}
		}
  }
  input[type=text], input[type=password] {
  	padding: 10px;
		border: 1px solid #000;
		height: auto;
		margin-bottom: 15px;
		background: rgba(255,255,255,0.3);
    color: white;
		@include box-sizing;
	}

  label {
  	display: inline;
  	margin-right: 10px;
  	color: $grayLighter;
  }
}

/* navbar related styling */
/* recoloring the navbar hopefully */
.navbar-inner {
  min-height: 48px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: $navbarbluelite;
  background-image: -moz-linear-gradient(top, $navbarbluelite, $navbarbluedark);
  background-image: -ms-linear-gradient(top, $navbarbluelite, $navbarbluedark);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from($navbarbluelite), to($navbarbluedark));
  background-image: -webkit-linear-gradient(top, $navbarbluelite, $navbarbluedark);
  background-image: -o-linear-gradient(top, $navbarbluelite, $navbarbluedark);
  background-image: linear-gradient(top, $navbarbluelite, $navbarbluedark);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$navbarbluelite', endColorstr='$navbarbluedark', GradientType=0);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.25), inset 0 -1px 0 rgba(0,0,0,.1);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,.25), inset 0 -1px 0 rgba(0,0,0,.1);
  box-shadow: 0 1px 3px rgba(0,0,0,.25), inset 0 -1px 0 rgba(0,0,0,.3);
  .nav > li > a {
    padding: 14px 15px 8px;
    font-size: 14px;
    line-height: 18px;
    color: $gray15;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    &:hover {
      background-color: transparent;
      color: white;
      text-decoration: none;
    }
  }
}
.navbar {
  .divider-vertical {
    height: 48px;
    width: 1px;
    margin: 0 9px;
    overflow: hidden;
    background-color: $navbarbluedark;
    border-right: 1px solid $navbarbluelite;
  }
  .btn, .btn-group {
    margin-top: 7px;
    background-color: $navbarbluedark;  
  }
  .dropdown-menu{
    label {
      display: block;
      padding: 3px 15px;
      clear: both;
      line-height: 18px;
      white-space: nowrap;
    }
    input {
      display: block;
      margin: 3px 15px;
      line-height: 18px;
      white-space: nowrap; 
      height: 20px;
    }
  }
}
.btn-navbar {
  display: none;
  float: right;
  padding: 8px 10px 8;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: $navbarbluedark;
  background-image: -moz-linear-gradient(top, $navbarbluelite, $navbarbluedark);
  background-image: -ms-linear-gradient(top, $navbarbluelite, $navbarbluedark);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from($navbarbluelite), to($navbarbluedark));
  background-image: -webkit-linear-gradient(top, $navbarbluelite, $navbarbluedark);
  background-image: -o-linear-gradient(top, $navbarbluelite, $navbarbluedark);
  background-image: linear-gradient(top, $navbarbluelite, $navbarbluedark);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$navbarbluelite', endColorstr='$navbarbluedark', GradientType=0);
  border-color: #222222 #222222 #000000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
   /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.075);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.075);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.075);
  &:hover, &:active, &.active, &.disabled, &[disabled] {
    background-color: white;
  }
  &:active, &.active {
    background-color: $gray97;
  }
  &:hover {
    color: gray20;
    text-decoration: none;
    /* Buttons in IE7 don't get borders, so darken on hover */
    -webkit-transition: All 0.1s ease;
    -moz-transition: All 0.1s ease;
    -ms-transition:  All 0.1s ease;
    -o-transition:   All 0.1s ease;
    transition:      All 0.1s ease;    
  }
}

/* end of the recoloring navbar */
