@import "bootstrap";
@import "bootstrap-responsive";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;
$gray80: #393939;
$gray92: #131313;
$blueinfo: #3a87ad;

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

/* universal */

html {
	overflow-y: scroll;
}

body {
	padding-top: 60px;
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

.center {
	text-align:center;
}

.center h1 {
	margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
      color: white;
      text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover {
      color: $grayDarker;   
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* sidebar */

aside {
  section {
      padding: 10px 0;
      border-top: 1px solid $grayLighter;
      &:first-child {
        border: 0;
        padding-top: 0;
      }
      span {
        display: block;
        margin-bottom: 3px;
        line-height: 1;
      }
      h1 {
        font-size: 1.6em;
        text-align: left;
        letter-spacing: -1px;
        margin-bottom: 3px;
      }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}


.stats {
  overflow: auto;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $grayLighter;
    color: gray;
    &:first-child{
      padding-left: 0px;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: $blue;
    } 
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  height: auto;
  margin-bottom: 15px;
  @include box-sizing;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
    @extend .control-group;
    @extend .error;
}

/* users index */
.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

/* microposts */

.microposts {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}
.content {
  display: block;
}
.timestamp {
  font-size:12px;
  color: $grayLight;
}
.gravatar {
  float: left;
  margin-right:10px;
}
aside {
  textarea {
    height:100px;
    margin-bottom: 5px;
  }
}

/* miniCounter js css */
.counter{
    right: 20px;
    top: 167px;
    font-size: 13px;
  span {
    display: inline;
  }
  .row {
    top: 45px;
    .error {
      font-color: red;
    }
  }
}

input.error, textarea.error {
    color: #6F6F6F;
    border-color: #D95D5B;
    background-color: #f8e6e6;
}
.error {
    color: red;
}

/* login page unique background */
#Login-page {
	background-image: image-url('login_bg.jpg');
	background-attachment: fixed;
  	background-repeat: no-repeat;
  	background-size: cover;
  	-moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    .hero-unit {
  		padding: 60px;
  		margin-bottom: 0px;
    	background: rgba(0,0,0,0.5);
	    // opacity:0.5;
	    // filter:alpha(opacity=50); /* for ie8 */
	    -webkit-border-radius: 6px;
	    -moz-border-radius: 6px;
	    border-radius: 6px;
	    z-index:0;
		// #foreground {
		// 	position: relative;
		// 	z-index:2;		
		// }	
	}
	.separator {
		height: 0px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		// border-top: 1px solid $gray92;
		// border-bottom: 1px solid $gray80;
		position: relative; 
		margin-top:15px;
		margin-bottom:12px;
		.or-separator {
			position: relative;
			padding: 0px 20%;
			color: $grayLighter;
			margin-bottom: 4px;
			font-size: 10px;
			text-shadow: 0px 1px 0px black;
			text-transform: uppercase;
			top: -6px;
		}
	}
	#verdigris-login {
		table {
			margin-top:20px;
			width: 28%;
			margin-left:auto;
			margin-right:auto;
			tr {
				vertical-align: center;
				td {
					text-align: left;
					&:first-child {
						text-align:right;
					}
				}
			}
		}
	}
	.footer-links {
		overflow: auto;
		padding-top:5px;
		padding-bottom:5px;
		font-size:12px;
		color: $grayLight;
  		a {
    		padding: 0 10px;
    		border-left: 1px solid $grayDarker;
    		text-shadow: 0px 1px 0px black;
			color: $grayLighter;
    		&:first-child{
      			padding-left: 0px;
      			border: 0;
    		}
	    	&:hover {
		      text-decoration: none;
		      color: $blueinfo;
		    } 
		}
		strong {
		    display: block;
		}
		#sign-up {
			background: rgba(0,10,0,0.5);
	    // opacity:0.5;
	    // filter:alpha(opacity=50); /* for ie8 */
	    	-webkit-border-radius: 3px;
	    	-moz-border-radius: 3px;
	    	border-radius: 3px;
	    	padding: 4px 4px 4px 4px;
	    	a {
	    		padding: 0px 1px 0px 5px;
	    	}
		}
    }
    input[type=text], input[type=password] {
  		padding: 10px;
		border: 1px solid #000;
		height: auto;
		margin-bottom: 15px;
		background: rgba(255,255,255,0.3);
		@include box-sizing;
	}

    label {
    	display: inline;
    	margin-right: 10px;
    	color: $grayLighter;
    }
}