<footer>
<div class="navbar navbar-fixed-bottom">
	<div class="navbar-inner">
		<div class="container-fluid">
			<%= link_to image_tag("VerdigrisFinal-longform.png", alt: "Verdigris Technologies"), "http://verdigristech.com", id: "logo", class: "brand" %>
		</div>
	</div>
</div>
</footer>