<% provide(:title, 'All Buds') %>
<h1>All Buds</h1>

<!-- temporary button, should only be accessable by admins -->
<%= if signed_in? && current_user.admin?
		link_to "Create Bud", new_bud_path, class: "btn btn-large btn-primary"
	end %>

<%= will_paginate %>
<div class="container-fluid">
	<div class="span2">
		<h3>Panel Name</h3>
	</div>
	<div class="span2">
		<h3>Bud UID</h3>
	</div>
	<div class="span2">
		<h3>Heart Beat</h3>
	</div>
	<div class="span2">
		<h3>Building</h3>
	</div>
</div>
<div class="container-fluid">
	<ul class="buds">
		<%= render @buds %>
	</ul>
</div>
<%= will_paginate %>